@inherits SaveFileComponent
@using RFGM.Formats.Saves.World.Activities
@using RFGR.SaveEditor.Utilities

<h1>Missions</h1>

<div class="options--missions">
    @{
        var missionOrder = SlotHelpers.IsDlc(Slot) ? MissionMap.DlcMissions : MissionMap.BaseMissions;
    }
    @foreach (var key in missionOrder)
    {
        if (World.MissionsState.Missions.TryGetValue(key, out var missionFlags) && MissionMap.Missions.TryGetValue(key, out var mission))
        {
            <div class="card" style="background-image: linear-gradient(to bottom, transparent -50%,var(--color-surface) 90%),url('images/missions/@mission.Image');">
                <div class="card__header">
                    @mission.Name
                    <p class="card__subtitle">@mission.Sector</p>
                </div>
                <div class="card__values">
                    <button class="btn btn--square btn--ghost radio @(missionFlags == FlagsNone ? "active" : "")" @onclick="() => UpdateMissionFlags(key, FlagsNone)">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
                            <path fill="currentColor" d="M16.07 8H15V5s0-5-5-5s-5 5-5 5v3H3.93A1.93 1.93 0 0 0 2 9.93v8.15A1.93 1.93 0 0 0 3.93 20h12.14A1.93 1.93 0 0 0 18 18.07V9.93A1.93 1.93 0 0 0 16.07 8M10 16a2 2 0 1 1 2-2a2 2 0 0 1-2 2m3-8H7V5.5C7 4 7 2 10 2s3 2 3 3.5z"/>
                        </svg>
                    </button>
                    <button class="btn btn--square btn--ghost radio @(IsMissionFlagSet(missionFlags, MissionsData.MissionFlags.Unlocked) && !IsMissionFlagSet(missionFlags, MissionsData.MissionFlags.Complete) ? "active" : "")" @onclick="() => UpdateMissionFlags(key, FlagsUnlocked)">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
                            <path fill="currentColor" d="M15 8V5s0-5-5-5a4.63 4.63 0 0 0-4.88 4h2C7.31 2.93 8 2 10 2c3 0 3 2 3 3.5V8H3.93A1.93 1.93 0 0 0 2 9.93v8.15A1.93 1.93 0 0 0 3.93 20h12.14A1.93 1.93 0 0 0 18 18.07V9.93A1.93 1.93 0 0 0 16.07 8zm-5 8a2 2 0 1 1 2-2a2 2 0 0 1-2 2"/>
                        </svg>
                    </button>
                    <button class="btn btn--square btn--ghost radio @(IsMissionFlagSet(missionFlags, MissionsData.MissionFlags.Complete) ? "active" : "")" @onclick="() => UpdateMissionFlags(key, FlagsComplete)">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
                            <path fill="currentColor" d="M7 14.2L2.8 10l-1.4 1.4L7 17L19 5l-1.4-1.4z"/>
                        </svg>
                    </button>
                    @*<label class="radio">
                        <input type="radio"
                               name="@mission.Name"
                               checked="@(missionFlags == FlagsNone)"
                               @onchange="() => UpdateMissionFlags(key, FlagsNone)">
                        <span class="btn">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
                                <path fill="currentColor" d="M16.07 8H15V5s0-5-5-5s-5 5-5 5v3H3.93A1.93 1.93 0 0 0 2 9.93v8.15A1.93 1.93 0 0 0 3.93 20h12.14A1.93 1.93 0 0 0 18 18.07V9.93A1.93 1.93 0 0 0 16.07 8M10 16a2 2 0 1 1 2-2a2 2 0 0 1-2 2m3-8H7V5.5C7 4 7 2 10 2s3 2 3 3.5z" />
                            </svg>
                        </span>
                    </label>
                    
                    <label class="radio">
                        <input type="radio"
                               name="@mission.Name"
                               checked="@(IsMissionFlagSet(missionFlags, MissionsData.MissionFlags.Unlocked) && !IsMissionFlagSet(missionFlags, MissionsData.MissionFlags.Complete))"
                               @onchange="() => UpdateMissionFlags(key, FlagsUnlocked)">
                        <span class="btn">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
                                <path fill="currentColor" d="M15 8V5s0-5-5-5a4.63 4.63 0 0 0-4.88 4h2C7.31 2.93 8 2 10 2c3 0 3 2 3 3.5V8H3.93A1.93 1.93 0 0 0 2 9.93v8.15A1.93 1.93 0 0 0 3.93 20h12.14A1.93 1.93 0 0 0 18 18.07V9.93A1.93 1.93 0 0 0 16.07 8zm-5 8a2 2 0 1 1 2-2a2 2 0 0 1-2 2" />
                            </svg>
                        </span>
                    </label>
                    
                    <label class="radio">
                        <input type="radio"
                               name="@mission.Name"
                               checked="@(IsMissionFlagSet(missionFlags, MissionsData.MissionFlags.Complete))"
                               @onchange="() => UpdateMissionFlags(key, FlagsComplete)">
                        <span class="btn">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
                                <path fill="currentColor" d="M7 14.2L2.8 10l-1.4 1.4L7 17L19 5l-1.4-1.4z" />
                            </svg>
                        </span>
                    </label>*@
                </div>
            </div>
        }
    }
</div>