@using RFGM.Formats.Saves.World.Teams
@inherits SaveFileComponent

<h1>Teams</h1>

<div class="options">
    <section>
        <label class="option__label">Technology Level</label> <Tooltip>The current level of weaponry and armour that each team spawns with.</Tooltip>
        <div class="option__box">
            <div class="option__row">
                <div class="option__row__body">
                    <label class="option__label" for="progGuerrilla">Guerrilla</label>
                    <div class="option__value">
                        @World.WorldPropertiesState.TechLevel
                        <input type="range" @bind="World.WorldPropertiesState.TechLevel" id="progGuerrilla" min="0" max="@World.WorldPropertiesState.TechLevelMax" step="1" />
                        @*<InputField TValue="float" @bind-value="World.WorldPropertiesState.TechLevel" id="progGuerrilla" Min="0" Max="World.WorldPropertiesState.TechLevelMax"/>*@
                    </div>
                </div>
            </div>
            <div class="option__row">
                <div class="option__divider"></div>
                <div class="option__row__body">
                    <label class="option__label" for="progEDF">EDF</label>
                    <div class="option__value">
                        @World.TeamProgressionState.EdfProgressionLevel
                        <input type="range" @bind="World.TeamProgressionState.EdfProgressionLevel" id="progEDF" min="0" max="7" step="1" />
                    </div>
                </div>
            </div>
            <div class="option__row">
                <div class="option__divider"></div>
                <div class="option__row__body">
                    <label class="option__label" for="progMarauder">Marauder</label>
                    <div class="option__value">
                        @World.TeamProgressionState.MarauderProgressionLevel
                        <input type="range" @bind="World.TeamProgressionState.MarauderProgressionLevel" id="progMarauder" min="0" max="7" step="1" />
                    </div>
                </div>
            </div>
        </div>
    </section>

    @{
        var dispositions = World.TeamDispositionState.Dispositions;
    }
    <section>
        <label class="option__label">Dispositions</label>
        <div class="option__box">
            @for (var i = 0; i < dispositions.GetLength(0); i++)
            {
                var row = i;
                <div class="option__row">
                    <label class="option__label">@_teamNames[row]</label>
                    <div class="option__box">
                        @for (var j = 0; j < dispositions.GetLength(1); j++)
                        {
                            var col = j;

                            <div class="option__row">
                                @if (col != 0)
                                {
                                    <div class="option__divider"></div>
                                }
                                <div class="option__row__body">
                                    <label class="option__label">@GetTeamName(col)</label>
                                    <div class="option__value">
                                        <Combobox
                                            TValue="TeamDispositionData.TeamDispositions"
                                            value="dispositions[row, col]"
                                            ValueChanged="e => SetDisposition(row, col, e.ToString())"
                                            Options="_dispositionOptions"
                                             readonly/>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            }
        </div>
    </section>
</div>