@page "/world"
@inherits SaveFileComponent
@using RFGM.Formats.Saves.World
@using RFGM.Formats.Saves.World.Metadata
@using RFGR.SaveEditor.Utilities

<h1>World</h1>

<div class="options">
    <section>
        <label class="option__label">Time</label>
        <div class="option__box">
            <div class="option__row">
                <div class="option__row__body">
                    <label class="option__label" for="hour">Hour</label>
                    <div class="option__value">
                        @World.TimeState.Hour
                        <input type="range" @bind="World.TimeState.Hour" id="hour" min="0" max="23" step="1" />
                    </div>
                </div>
            </div>
            <div class="option__row">
                <div class="option__divider"></div>
                <div class="option__row__body">
                    <label class="option__label" for="minutes">Minutes</label>
                    <div class="option__value">
                        @World.TimeState.Minutes
                        <input type="range" @bind="World.TimeState.Minutes" id="minutes" min="0" max="59" step="1" />
                    </div>
                </div>
            </div>
            <div class="option__row">
                <div class="option__divider"></div>
                <div class="option__row__body">
                    <label class="option__label" for="seconds">Seconds</label>
                    <div class="option__value">
                        @World.TimeState.Seconds
                        <input type="range" @bind="World.TimeState.Seconds" id="seconds" min="0" max="59" step="1" />
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section>
        <div class="option__box">
            <div class="option__row">
                <div class="option__row__body">
                    <label class="option__label" for="walkerSpawning">Walker Spawning</label>
                    <Tooltip>Determines whether walker vehicles can spawn in the world. Will also affect mod capabilities of spawning walkers.</Tooltip>
                    <div class="option__value">
                        <input type="checkbox" id="walkerSpawning" @bind="World.WorldPropertiesState.AllowWalkerSpawn"/>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section>
        <div class="option__box">
            <div class="option__row">
                <div class="option__row__body">
                    <label class="option__label" for="soundtrack">Soundtrack</label>
                    <div class="option__value">
                        <Combobox
                            TValue="AudioData.MusicFile"
                            @bind-Value="World.AudioState.File"
                            Options="_audioOptions"
                            id="soundtrack"
                            readonly />
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section>
        <div class="option__box">
            <div class="option__row option__row--btn">
                <div class="option__row__body">
                    <label class="option__label">Fog Of War</label>
                    <Tooltip>Refers to the fog on the full-screen map.<br/><br/>Resetting will hide all discovered locations, prevent waypoints, and cover map in fog.<br/><br/>Clearing will reveal undiscovered locations, allow waypoints, and remove all map fog.</Tooltip>
                    <div class="option__value">
                        <button class="btn compact" @onclick="ResetFogOfWar">Reset</button>
                        <button class="btn compact" @onclick="ClearFogOfWar">Clear</button>
                    </div>
                </div>
            </div>
        </div>
    </section>
    
    <section>
        <label class="option__label">Sectors</label>
        <div class="option__box">
            @for (var i = Info.TerritoryIndex == 1 ? 2 : 1; i < World.DistrictState.Districts.Count; i++)
            {
                var district = World.DistrictState.Districts[i];
                var districtIndex = Info.TerritoryIndex == 1 ? i - 1 : i;
                var districtInfo = DistrictMap.GetDistrictInfo(Info.TerritoryIndex, districtIndex);
                
                <div class="option__row">
                    <label class="option__label">@districtInfo.Name</label>
                    <div class="option__box">
                        <div class="option__row">
                            <div class="option__row__body">
                                <label class="option__label" for="@($"{districtIndex}-liberated")">Liberated</label>
                                <div class="option__value">
                                    <input type="checkbox" class="checkbox" id="@($"{districtIndex}-liberated")" @bind="district.Liberated"/>
                                </div>
                            </div>
                        </div>
                        <div class="option__row">
                            <div class="option__divider"></div>
                            <div class="option__row__body">
                                <label class="option__label" for="@($"{districtIndex}-control")">Control</label>
                                <div class="option__value">
                                    @district.Control
                                    <input type="range" @bind="district.Control" id="@districtIndex-control" min="0" max="@district.ControlMax" step="1" />
                                </div>
                            </div>
                        </div>
                        <div class="option__row">
                            <div class="option__divider"></div>
                            <div class="option__row__body">
                                <label class="option__label" for="@($"{districtIndex}-morale")">Morale</label>
                                <div class="option__value">
                                    @district.Morale
                                    <input type="range" @bind="district.Morale" id="@districtIndex-morale" min="0" max="@district.MoraleMax" step="1" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </section>
</div>