@inherits SaveFileComponent
@using RFGR.SaveEditor.Utilities

<header class="header">
    <div class="header__banner">
        <img src="@DistrictMap.GetDistrictInfo(Slot).ImageFileName"/>
    </div>
    <h1 style="margin-bottom: 0;">@DistrictMap.GetDistrictInfo(Slot).Name</h1>
    <span class="badge">
        <label>Created</label>
        @SlotHelpers.GetCreationDate(Slot)
    </span>
    <span class="badge">
        <label>Missions</label>
        @Info.MissionsCompletedCount
    </span>
    <span class="badge">
        <label>Activities</label>
        @Info.ActivitiesCompletedCount
    </span>
    <span class="badge">
        <label>Sectors</label>
        @Info.DistrictsLiberated
    </span>
    <span class="badge">
        <label>Autosave</label>
        <input type="checkbox" @bind="Info.IsAutoSave" />
    </span>
</header>